<h1>Edit User</h1>
<a class ="btn btn-primary" href="/">All Users</a>
<form action = "/createUser" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{user.name}}" class="form-control">
    </div>
    <div class="form-group">
        <label for="desc">Description</label>
        <input type="description" name="description" value="{{user.email}}" class="form-control">
    </div>
      <div class="form-group">
        <label for="due">Due Date</label>
        <input type="due date" name="due date" value="{{user.due date}}" class="form-control">
    </div>
        <button type="submit" class="btn btn-primary">Update User</button>
</form>