<h1>Edit User</h1>
<a class ="btn btn-primary" href="/">All Users</a>
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="desc">Description</label>
        <input type="description" class="form-control">
    </div>
      <div class="form-group">
        <label for="due">Due Date</label>
        <input type="due date" class="form-control">
    </div>
        <button type="submit" class="btn btn-primary">Create User</button>
</form>