<h1>Edit Task</h1>
<a class ="btn btn-primary" href="/">All Tasks</a>
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{user.name}}" class="form-control">
    </div>
    <div class="form-group">
        <label for="desc">Email</label>
        <input type="description" class="form-control">
    </div>
      <div class="form-group">
        <label for="due">Phone</label>
        <input type="due date" class="form-control">
    </div>
        <button type="submit" class="btn btn-primary">Create Task</button>
</form>