<h1>Task Genie</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Decription</th>
      <th scope="col">Date Due</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <a class= "btn btb-primary" href="#">View</a>
        <a class= "btn btb-success" href="#">Edit</a>
        <a class= "btn btb-danger" href="#">Delete</a>
      </td>
    </tr>
  </tbody>
</table>